.article {
  border-bottom: 1px solid rgba(245,245,247,0.984);
  padding: 20px 0;
}

.page-num {
  p {
    margin: 0 auto;
  }
}

.page-info {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.disable {
  opacity: .4;
  pointer-events: none;
}
