nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  .left {
    flex: 2;
  }

  .right {
    flex: 1;
  }

  ul {
    display: flex;

    li {
      flex: 1 1 auto;
    }
  }
}
