.main-sec {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.about {
  text-align: center;
}

.recent-activity {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .left, .right {
    margin: 0 10px;
  }
}
