html {
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @include ie-only {
    // `height: 100%` is needed for IE because of the `min-height` flexbox bug.
    height: 100%;
  }
}

.site-content {
  // `flex-shrink: 0` and `flex-basis: auto` are need to work around
  // Flexbox issues in IE 10-11.
  flex: 4 0 auto;
}

.container {
  margin: 0 auto;
  width: 50em;
}

header {
  flex: 1 1 auto;
}

footer {
  flex: none;
}
