html,
body {
  height: 100vh;
}

.site {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 4 1 auto;
}

.container {
  margin: 0 auto;
  width: 50em;
}

header {
  flex: 1 1 auto;
}

footer {
  flex: none;
}
