%footer
  .center-content
    .left.top-gutter
      %p Copyright &copy; Designed  Built by Adam Magan.
    .right
      %ul.links
        %li
          %a{:href => "https://twitter.com/mrageeh"}
            %i.fa.fa-twitter.fa-2x
        %li
          %a{:href => "https://github.com/mrageh"}
            %i.fa.fa-github-square.fa-2x
        %li
          %a{:href => "https://uk.linkedin.com/in/mrageeh"}
            %i.fa.fa-linkedin.fa-2x
        %li
          %a{:href => "https://angel.co/mrageh"}
            %i.fa.fa-angellist.fa-2x
