<header>
  <div class="main-content">
    <div class="left">
      <h3> <%= link_to 'mrageh', '/index.html' %> </h3>
    </div>

    <div class="right">
      <nav>
        <ul>
          <li><%= link_to 'About', '/about.html' %></li>
          <li><%= link_to 'blog', '#' %></li>
          <li><%= link_to 'Projects', '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
