---
title: About Me
---

.center-content
  .about
    %img{:alt => "me", :src => "images/adam.png"}/
    %h4 Adam Magan
    %h6 Software Engineer, Web, Ruby, Chef, Rust and Comp Sci

.center-content
  %blockquote
    If you can't explain it simply, you don't understand it well enough.
    %cite Albert Einstein

  %p My name is Adam Magan and I am a software engineer currently working at FutureLearn as a Ruby developer. In my spare time I can be found doing a wide range of activites like studying algorihtms and data structures, watching big cat videos on youtube or playing football.

  %p Computer Science and Mathematics are two fascinating areas that I enjoy diving into in my spare time. Due to my career I get to learn about interesting computer science topics and improve my knowledge and understanding of this rapidly evolving field of education.
  %p I plan on using this website for sharing my work and blogging about interesting computer science topics to help me improve my own understanding of them.
