---
title: About Me
---

<div class="main-content">
  <div class="about">
    <img src="images/adam.png" alt="me">
    <p>My name is Adam Magan and I am a software engineer currently working at FutureLearn as a Ruby developer. In my spare time I can be found doing a wide range of activites like studying algorihtms and data structures, watching big cat videos on youtube or playing football.</p>
  </div>
</div>
