---
title: About Me
---

.main-content
  .about
    %img{:alt => "me", :src => "images/adam.png"}/
    %p My name is Adam Magan and I am a software engineer currently working at FutureLearn as a Ruby developer. In my spare time I can be found doing a wide range of activites like studying algorihtms and data structures, watching big cat videos on youtube or playing football.
