---
title: About Me
---

.about
  %p.image
    %img{:alt => "me", :src => "images/adam.png"}/
  %h4 Adam Magan
  %h6 Software Engineer, Web, Ops, Polyglot and Comp Sci
  %blockquote
    If you can't explain it simply, you don't understand it well enough.
    %cite Albert Einstein

  %p My name is Adam Magan and I am a software engineer currently working at FutureLearn.

  %p The tools I use at work are the following Ruby, Rails, Javascript, MySQL, Redis and Chef.

  %p Over the last two years I've used TDD to help me design software and produce simple interfaces.

  %p I am familiar with a few cloud providers, mainly AWS, Heroku and Digital Ocean.

  %p I've also contributed to the following open source projects: #{link_to("rspec-core", "https://github.com/rspec/rspec-core/commits?author=mrageh")}, rails and exercism.

  %p In my spare time I tend to study interesting Computer Science or Maths topics.

  %p A great way of learning is to blog and that's the main reason I've created this website.

