---
title: About Me
---

.about
  %p.image
    %img{:alt => "me", :src => "images/adam.png"}/
  %h4 Adam Magan
  %h6 Software Engineer, Web, Ruby, Chef, Rust and Comp Sci
  %blockquote
    If you can't explain it simply, you don't understand it well enough.
    %cite Albert Einstein

%p My name is Adam Magan and I am a software engineer currently working at FutureLearn as a Ruby developer. The tools I use at work are the following Ruby, Rails, Javascript, MySQL, Redis and Chef.

%p Over the last two years I've used TDD to help me design software and produce simple interfaces. These are the DSL's that I am very familiar with RSpec, minitest and Capybara.

%p In terms of deployment I am familiar with AWS, Heroku and Digital Ocean.

%p I've also made open source contributions to various projects including #{link_to("rspec-core", "https://github.com/rspec/rspec-core/commits?author=mrageh")}, Capybara, webmock, Mongoid and exercism.io

%p Computer Science and Mathematics are two fascinating areas that I enjoy diving into in my spare time.

%p I plan on using this website to share my work and blog about interesting computer science topics to help me improve my understanding of them.

