---
title: Home
---

<div class="main-content">
  <div class="about">
    <img src="images/adam.png" alt="me">

    <p>
      Hey, you've stumbled across my tiny corner of the big wide web. My name is Adam Magan and I am a polyglot. I spend most of my weekdays improving <a href="https://www.futurelearn.com/">FutureLearn</a> as a Ruby developer.
    </p>
  </div>

  <div class="left">
    <h4 class='main-title'>Recent Projects</h4>
  </div>

  <div class="right">
    <h4 class='main-title'>Recent Blog Posts</h4>
  </div>
</div>
