---
title: Home
---

<div class="main-content">
  <div class="about">
    <img src="images/adam.png" alt="me">

    <p>
    Hey, you've stumbled across my tiny corner on the big wide web. My name is Adam Magan and I am a software engineer with an ops background. I spend most of my weekdays tinkering/improving <a href="https://www.futurelearn.com/">FutureLearn</a> as a Ruby developer.
    </p>
  </div>

  <div class="left">
    <h4 class='main-title'>Recent Articles</h4>

    <ol>
      <% blog.articles[0...5].each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    </ol>
  </div>

  <div class="right">
    <h4 class='main-title'>Recent Projects</h4>
  </div>
</div>
