---
title: Home
---

.about
  %p.image
    %img{:alt => "me", :src => "images/adam.png"}/
  %h4.name Adam Magan
  %h6 Software Engineer, Web, Ops, Polyglot and Comp Sci
  %p
    Hey, you've stumbled across my tiny corner on the big wide web. My name is Adam Magan and I am a software engineer with an ops background. I spend most of my weekdays tinkering/improving
    %a{:href => "https://www.futurelearn.com/"} FutureLearn
    as a Ruby developer.

%section.recent-activity
  .left
    %h4.section-title Recent Articles
    %ol
      - blog.articles[0...5].each do |article|
        %li= link_to article.title, article
  .right
    %h4.section-title Recent Projects
